* {
  box-sizing: border-box;
  padding: 0;
  font-size: 0;
}

html,
body,
.board {
  background: rgb(16, 37, 66);
}

.board {
  width: 680px;
  height: 680px;
  margin: 0 auto;
  padding-left: 10px;
}

.dot {
  background: rgb(248, 255, 229);
}

.line {
  background: rgb(83, 99, 127);
  /*opacity: 0.5;*/
  transition: 0.25s;
  cursor: pointer;
}

.line.p1-turn:hover {
  background: rgb(248, 112, 96);
  opacity: 1;
  transition: 0.25s;
}

.line.p2-turn:hover {
  background: rgb(181, 255, 214);
  opacity: 1;
  transition: 0.25s;
}

.box,
.line {
  width: 140px;
  height: 140px;
}

.line.horizontal {
  height: 20px;
  margin-left: -10px;
        position: relative;
  top: -10px;
}

.line.vertical {
  width: 20px;
}

.dot {
  width: 40px;
  height: 40px;
  margin-left: -10px;
  position: relative;
  z-index: 1;
  border-radius: 100%;
}

.dot,
.line,
.box {
  display: inline-block;
  margin-bottom: -10px;
}

.line-rank {
  border: 1px solid gold;
  margin-bottom: -10px;
}

.player1 {
  background: rgb(248, 112, 96);
}

.player2 {
  background: rgb(181, 255, 214);
}
